
<!DOCTYPE HTML>
<html>
<head>
<title>Vendors</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

<!-- Custom CSS -->
<link href="css/styler.css" rel='stylesheet' type='text/css' />

<!-- font-awesome icons CSS -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons CSS -->

 <!-- side nav css file -->
 <link href='css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
 <!-- side nav css file -->
 
 <!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<!--//webfonts--> 

<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->

</head> 
<body class="cbp-spmenu-push">

				
				
				<!--search-box-->
		<!--//end-search-box-->
				
			
				<div class="clearfix"> </div>				
			</div>
			<div class="clearfix"> </div>	
		</div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h2 class="title1">Tables</h2>
				
				
					<div class="bs-example widget-shadow" data-example-id="hoverable-table"> 
				
						<table class="table table-hover"> 
							<thead> 
								<tr> 
									<th>#</th> 
									<th> </th> 
									<th>First Name</th> 
									<th>Email</th>
									<!-- <th>Referral Link</th> -->
									<th>Date Joined</th>
								</tr> 
							</thead> 
							<tbody> 
								<% var num = 1 %>
								<% for (var i = 0; i < users.length; i++) {%>
									<tr>
									  <th scope="row"><%= num %></th>
									  <td><% num+= 1 %></td>
									  <td><%= users[i].name %></td>
																	  
									  <td><%= users[i].email %></td>
									  
										<!-- <td> <a href="https://keepperr.herokuapp.com/auth/dashboard/<%= users[i].refer %>">https://keepperr.herokuapp.com/auth/dashboard/<%= users[i].refer %>  </a></td> -->
									
									  <td><%= users[i].number %></td>
									  <td><%= users[i].createdAt %></td>
									
									</tr>
								
								<%}%>
							</tbody> 
						</table>
					</div>
				
				
				</div>
			</div>
		</div>
		<!--footer-->
		
        <!--//footer-->
	</div>

	<!-- delete document -->
	<script>
		$(".delete-doc").on("click", function() {
			var userId = $(this).attr("id");
			var userUrl = "/user/delete";
			console.log(userUrl, userId);
			$.ajax({
				method: "POST",
				url: userUrl,
				data: {"userId": userId},
				success: function( result ){
					console.log("Successful");
					location.reload();
				},
				error: function( err ){
					console.log(err)
				}
			})
		})
		$(".edit-doc").on("click", function() {
			var userId = $(this).attr("id");
			var userUrl = "/user/" + userId;
			console.log(userUrl, userId);
			$.ajax({
				method: "GET",
				url: userUrl,
				success: function( result ){
					console.log("Successful");
				},
				error: function( err ){
					console.log(err)
				}
			})
		})
		$(".paid-doc").on("click", function(){
			var userId = $(this).attr("id");
			var userUrl = "/pay";
			console.log(userUrl, userId);
			$.ajax({
				method: "POST",
				url: userUrl,
				data: {"userId": userId},
				success: function( result ){
					console.log("Successful");
					location.reload();
				},
				error: function( err ){
					console.log(err)
				}
			})
		})
	</script>
	
	<!-- side nav js -->
	<script src='js/SidebarNav.min.js' type='text/javascript'></script>
	<script>
      $('.sidebar-menu').SidebarNav()
    </script>
	<!-- //side nav js -->
	
	<!-- Classie --><!-- for toggle left push menu script -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			
			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	<!-- //Classie --><!-- //for toggle left push menu script -->
	
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js"> </script>
	
</body>
</html>